version: "3.8"

services:

  leader:
    build: .
    container_name: leader
    environment:
      ROLE: "leader"
      PORT: "8080"
      WRITE_QUORUM: "3"
      MIN_DELAY_MS: "50"
      MAX_DELAY_MS: "800"
      FOLLOWER_URLS: "http://f1:8080,http://f2:8080,http://f3:8080,http://f4:8080,http://f5:8080"
    ports:
      - "8000:8080"
    networks:
      - kv

  f1:
    build: .
    container_name: f1
    environment:
      ROLE: "follower"
      PORT: "8080"
    networks:
      - kv

  f2:
    build: .
    container_name: f2
    environment:
      ROLE: "follower"
      PORT: "8080"
    networks:
      - kv

  f3:
    build: .
    container_name: f3
    environment:
      ROLE: "follower"
      PORT: "8080"
    networks:
      - kv

  f4:
    build: .
    container_name: f4
    environment:
      ROLE: "follower"
      PORT: "8080"
    networks:
      - kv

  f5:
    build: .
    container_name: f5
    environment:
      ROLE: "follower"
      PORT: "8080"
    networks:
      - kv

networks:
  kv:
    driver: bridge
